generated/resources/wsdl/EquipmentWebServiceImplService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. -->
<definitions targetNamespace="http://webservice.smart.hackathon.com/" name="EquipmentWebServiceImplService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://webservice.smart.hackathon.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://webservice.smart.hackathon.com/" schemaLocation="EquipmentWebServiceImplService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="setEquipment">
    <part name="parameters" element="tns:setEquipment"/>
  </message>
  <message name="setEquipmentResponse">
    <part name="parameters" element="tns:setEquipmentResponse"/>
  </message>
  <message name="upEquipment">
    <part name="parameters" element="tns:upEquipment"/>
  </message>
  <message name="upEquipmentResponse">
    <part name="parameters" element="tns:upEquipmentResponse"/>
  </message>
  <message name="updateEquipmentSnowDetails">
    <part name="parameters" element="tns:updateEquipmentSnowDetails"/>
  </message>
  <message name="updateEquipmentSnowDetailsResponse">
    <part name="parameters" element="tns:updateEquipmentSnowDetailsResponse"/>
  </message>
  <portType name="EquipmentWebService">
    <operation name="setEquipment">
      <input wsam:Action="http://webservice.smart.hackathon.com/EquipmentWebService/setEquipmentRequest" message="tns:setEquipment"/>
      <output wsam:Action="http://webservice.smart.hackathon.com/EquipmentWebService/setEquipmentResponse" message="tns:setEquipmentResponse"/>
    </operation>
    <operation name="upEquipment">
      <input wsam:Action="http://webservice.smart.hackathon.com/EquipmentWebService/upEquipmentRequest" message="tns:upEquipment"/>
      <output wsam:Action="http://webservice.smart.hackathon.com/EquipmentWebService/upEquipmentResponse" message="tns:upEquipmentResponse"/>
    </operation>
    <operation name="updateEquipmentSnowDetails">
      <input wsam:Action="http://webservice.smart.hackathon.com/EquipmentWebService/updateEquipmentSnowDetailsRequest" message="tns:updateEquipmentSnowDetails"/>
      <output wsam:Action="http://webservice.smart.hackathon.com/EquipmentWebService/updateEquipmentSnowDetailsResponse" message="tns:updateEquipmentSnowDetailsResponse"/>
    </operation>
  </portType>
  <binding name="EquipmentWebServiceImplPortBinding" type="tns:EquipmentWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="setEquipment">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="upEquipment">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateEquipmentSnowDetails">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="EquipmentWebServiceImplService">
    <port name="EquipmentWebServiceImplPort" binding="tns:EquipmentWebServiceImplPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

